* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    background: #3949ab;
    color: white;
    text-align: center;
    padding: 16px;
}

header h1 {
    display: inline-block;
    width: 400px;
    font-weight: 700;
}

header p {
    font-size: 25px;
    display: inline-block;
    width: 400px;
    font-weight: 200;
}

.introduccion {
    background:#f06292;
    color: black;
    text-align: center;
    padding: 10px;
    margin-bottom: 35px;
}

.edu, .exp, .cursos{
    width: 960px;
    height: 200px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 55px;
}

.edu h3, .exp h3, .cursos h3 {
    font-size: 25px;
    font-weight: 700; 
}

.dt1, .dt2, .dt3, .dt4, .dt5, .dt6, .dt7 {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 12px;
    margin-top: 36px
}



